        </div>
        
        <script type="text/javascript">
            function activeNav(id) {
                let navs = document.getElementById('nav').children;
                document.getElementById(childId).className = 'mdui-ripple mdui-ripple-white mdui-tab-active';
                Object.keys(navs).forEach((key) => {
                    if (nav[key].getAttribute('id') != id) {
                        if (navs[key] !== null) {
                            navs[key].className = 'mdui-ripple mdui-ripple-white';
                        }
                    }
                });
            }

            function refreshNav() {
                id = window.location.pathname.split('/')[1];
                if (!id) {
                    id = 'generate';
                }
                activeNav(id);
            }

            $(document).ready(function() {
                refreshNav();
            });

            $(document).pjax('a[target!=_blank]', {
                container: '#container',
                fragment: '#container',
                timeout: 6000
            }).on('pjax:start', function() {
                NProgress.start();
            }).on('pjax:success', function() {
                mdui.mutation();
                refreshNav();
            }).on('pjax:end', function() {
                NProgress.done();
            });
        </script>
    </body>
</html>