{%include './head.html' %}
            <form>

                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">短网址</label>
                    <input id="shortUrl" class="mdui-textfield-input" type="text" required/>
                </div>
                
                <br/>
                
                <div class="mdui-row-xs-2">
                    <div class="mdui-col">
                        <button class="mdui-btn mdui-btn-raised mdui-btn-block" type="reset">重置</button>
                    </div>

                    <div class="mdui-col">
                        <button id="submit" onclick="return summit()" class="mdui-btn mdui-btn-raised mdui-btn-block">查询</button>
                    </div>
                </div>
            <form>

            <script type="text/javascript">
                function summit() {
                    let loadElement = load('正在查询');
                    let shortUrl = $('#shortUrl').val();
                    
                    if (!shortUrl) {
                        loadElement.remove();

                        mdui.alert('参数错误');
                        
                        return false;
                    }

                    if (!isUrl(shortUrl)) {
                        loadElement.remove();

                        mdui.alert('请输入完整短网址');
                        
                        return false;
                    }

                    let postData = {
                        'shortUrl': shortUrl
                    };
                    axios.post('./api/get', postData)
                        .then(function(response) {
                            let info = response.data.info;
                            loadElement.remove();
                            if (typeof data == "string") {
                                mdui.alert(data);
                            } else {
                                let validDay = info.validDay;
                                if (validDay === 0) {
                                    validDay = '永久';
                                } else {
                                    validDay += '天';
                                }
                                mdui.alert('长链接:' + info.longUrl + '<br/>有效期:' + validDay + '<br/>次数:' + info.count + '<br/>时间:' + timestampToTime(info.timestmap));
                            }
                        });
                    
                    return false;
                }
            </script>
{%include './foot.html' %}