{%include './head.html' %}
            <form>

                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">短网址</label>
                    <input id="shortUrl" class="mdui-textfield-input" type="text" required/>
                </div>
                
                <br/>
                
                <div class="mdui-row-xs-2">
                    <div class="mdui-col">
                        <button class="mdui-btn mdui-btn-raised mdui-btn-block" type="reset">重置</button>
                    </div>

                    <div class="mdui-col">
                        <button id="submit" onclick="return summit()" class="mdui-btn mdui-btn-raised mdui-btn-block">查询</button>
                    </div>
                </div>
            <form>

            <script type="text/javascript">
                function summit() {
                    let shortUrl = $('#shortUrl').val();
                    
                    if (!shortUrl) {
                        mdui.alert('参数不能为空');
                        return false;
                    }
                    
                    request('post', './api/get', {
                        'shortUrl': shortUrl
                    })
                        .then((response) => {
                            let data = response.data;
                            if (data.code === 200) {
                                let data_ = data.data;
                                let validDay = data_.validDay;
                                if (validDay === 0) {
                                    validDay = '永久';
                                } else {
                                    validDay += '天';
                                }
                                mdui.alert('长链接:' + data_.longUrl + '<br/>有效期:' + validDay + '<br/>次数:' + data_.count + '<br/>时间:' + timestampToTime(data_.timestamp));
                            } else {
                                mdui.alert(data.message);
                            }
                        });
                    return false;
                }
            </script>
{%include './foot.html' %}